<div class="container-fluid p-5 mt-5 " style="background-color: #00baf2; color: white;">
<div class="container">
    <div class="row mt-4 " >
        <h1>Recharge & Pay Bills on Paytm.</h1>
    </div>
    <div class="row mt-5">
        <div class="col-2 ">
            <img style="width: 65px;" class="img-fluid" src="assets/images/Recharge/recharge1.png" alt="">
            <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">Recharge Prepaid Mobile</p></div>
   
        </div>
        <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Recharge/recharge2.png" alt="">
            <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">Pay Electricity  Bill</p></div>
        </div>
        <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Recharge/recharge3.png" alt="">
            <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">Recharge DTH Connection</p></div>
        </div>
        <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Recharge/recharge4.png" alt="">
            <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">Book Gas Cylinder</p></div>
        </div>
        <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Recharge/recharge5.png" alt="">
            <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">Pay Broadband  Bill</p></div>
        </div>
        <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Recharge/recharge6.png" alt="">
            <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">Pay Education Fee</p></div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid p-5  " style="background-color: #0f4a8a; color: white;">
    <div class="container">
        <div class="row mt-4 " >
            <h1>Book & Buy on Paytm.</h1>
        </div>
        <div class="row mt-5">
            <div class="col-2 ">
                <img style="width: 65px;" class="img-fluid" src="assets/images/Book/img1.png" alt="">
                <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;"> Movie  Tickets</p></div>
       
            </div>
            <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Book/img2.png" alt="">
                <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;"> Flight  Tickets</p></div>
            </div>
            <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Book/img3.png" alt="">
                <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;"> Bus  Tickets</p></div>
            </div>
            <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Book/img4.png" alt="">
                <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">  Train Tickets  </p></div>
            </div>
            <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Book/img5.png" alt="">
                <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">Buy Insurance</p></div>
            </div>
            <div class="col-2"><img style="width: 65px;" class="img-fluid" src="assets/images/Book/img6.png" alt="">
                <div class="col-1 mt-3 fw-bold"><p style="font-size: 18px;">  International
                    Flights</p></div>
            </div>
        </div>
    </div>
    </div>