<div class="container-fluid p-5 " style=" background-color: whitesmoke;" >
<div class="container mt-5">
    <div class="row mb-2">
        <h1 class="font fw-bold " style="font-size: 50px;" >Paytm Payment Instruments</h1>
    </div>
    <div class="row mt-5" style="background-color: white;">
<div class="col-1"></div>
 <div class="col-4 mt-5">

    <div class="div mt-5 mb-5"><img class="img-fluid" style="width: 13vh; margin-right: 15px;" src="assets/images/paymentinstution/img1.png " alt=""><span class="fw-bold">Paytm  Wallet</span></div>
    
    <h1 class="fw-bold mb-5">The Fastest Way to Pay In-store & Online. </h1>
    <p class="fw-semibold fs-5 mb-5">Load up your Paytm Wallet for free and make payments in a jiffy at over 21 million stores, websites and apps.</p>
    <button class="btn btn-primary mb-5">Download The App</button>
 </div>
 <div class="col-4 mt-5 mb-5">
    <img  style="width: 40vw; margin-top: 40px;" src="https://assetscdn1.paytm.com/images/catalog/view_item/728701/1618577020961.png" alt="">
 </div>
<div class="col-2"></div>
    </div>
</div>

<div class="container mt-5">
  
    <div class="row mt-5" style="background-color: white;">
<div class="col-1"></div>
 <div class="col-4 mt-5">

    <div class="div mt-5 mb-5"><img class="img-fluid" style="width: 13vh; margin-right: 15px;" src="assets/images/paymentinstution/img2.png " alt=""><span class="fw-bold">UPI Money Transfer</span></div>
    
    <h1 class="fw-bold mb-5">Pay anyone directly from your bank account. </h1>
    <p class="fw-semibold fs-5 mb-5">Pay anyone, everywhere. Make contactless & secure payments in-stores or online using Paytm Wallet or Directly from your Bank Account. Plus, send & receive money from anyone.</p>
    <button class="btn btn-primary mb-5">Download The App</button>
 </div>
 <div class="col-4 mt-5 mb-5">
    <img  style="width: 40vw; margin-top: 40px;" src="https://assetscdn1.paytm.com/images/catalog/view_item/728702/1626342071104.png" alt="">
 </div>
<div class="col-2"></div>
    </div>
</div>
</div>