  <div class="container p-5 mt-5">
    <div class="row">
        <div class="col-5">
          <div class="row">
            <img class="w-25 mt-5 mb-5" src="assets/images/image2.png"  alt="">
          </div>
       <h1 class="fw-bold" style="font-size:180 px;"> 
        India's Most-loved Payments App
      </h1>
      <p class="mt-4 fs-5 fw-semibold">Recharge & pay bills, book flights & movie tickets, open a savings account, invest in stocks & mutual funds, and do a lot more.</p>
        </div>
        <div class="col-1"></div>
        <div class="col-5 text-justify">
          <img class="image-fluid w-100" src='assets/images/image1.png'  alt="ChetanImage">
        </div>
    </div>
  </div>
